<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#202730">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Marx Fernandes - Tópico Web" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/tomorrow-night.min.css">
    <link rel="stylesheet" href="app.css">
    <link rel="icon" href="favicon.ico">
    <title>Wall</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="display-1">
        Coding Challenge
      </h1>
      <p>
        Draw a line in the middle of the wall that cuts the fewest number of bricks.
      </p>

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="mb-3">
            <label>Try it out (bidimensional matrix):</label>
            <textarea id="editor" class="form-control text-monospace" rows="10">{{ include 'challenge/seed.json' }}</textarea>
            <span class="text-muted">
              All rows must have the same result after the sum each element.
            </span>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="mb-3">
            <label id="result"></label>
            <div class="wall-responsive">
              <div id="wall" class="wall"></div>
            </div>
          </div>
        </div>
      </div>

      <h1 class="display-1">
        Timeline
      </h1>
      <p>
        A little of history. Which logic I used to solve this challenge.
      </p>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="#v1" class="nav-link active" data-toggle="tab">Version 1</a>
        </li>
        <li class="nav-item">
          <a href="#v2" class="nav-link" data-toggle="tab">Version 2</a>
        </li>
      </ul>

      <div id="code-versions" class="tab-content">
        <div id="v1" class="tab-pane active py-3">
          <p>
            Look to the wall...
            <ol>
              <li>Pick a row and take the first brick (A1).</li>
              <li>Then, go to the next row and take the first brick (B1).</li>
              <li>
                Now compare the size. Is it smaller than the brick size (A1)?
                <ul>
                  <li>
                    Yes: Take the next brick (B2) and sum to the size of the previous one (B1.size + B2.size).
                    Ask again (item 4).
                  </li>
                  <li>
                    No: Time to check for collision. Is the result size equal or greater?
                    <ul>
                      <li>
                        Equal: It means that you have NOT hit any other bricks on the row (B).
                      </li>
                      <li>
                        Higher: It means that you hit some brick on the row (B). Count.
                      </li>
                    </ul>
                  </li>
                </ul>
                <li>
                  Repeat this proccess until you visit all the bricks in row (A),
                  except the last one (you cannot cut the corners). Then, go to the next row.
                </li>
              </li>
              <li>
                Keep going until close the cycle, that is, when you compare all the rows with each other.
                In the end you will find out the best result.
              </li>
            </ol>
          </p>
          <p>
            Conclusion: You code will look like a mess and the complexity is sad.
          </p>
          <pre><code class="hljs javascript">{{ include 'challenge/v1.js' }}</code></pre>
        </div>
        <div id="v2" class="tab-pane py-3">
          <p>
            It can be better. Working on it...
          </p>
          <pre><code class="hljs javascript">{{ include 'challenge/v2.js' }}</code></pre>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
    <script src="challenge/v1.js"></script>
    <script src="challenge/v2.js"></script>
    <script src="app.js"></script>
  </body>
</html>
